.page_container{
    /* background-color: aquamarine; */
    width: 100%;
    margin: auto;
    padding-top: 1%;
}
.servicesStronghold_container{
    /* background-color: aquamarine; */
    background-image: linear-gradient(to bottom,#dbf1ff 85%,#ffffff );
    width: 100%;
    margin: auto;
}
.servicesStronghold_wapper{
    /* background-color: aquamarine; */
    max-width: 1200px;
    margin: auto;
    padding-top: 50px;
}
.stronghold_content{
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 2px 25px 0 #ccc;
    padding: 50px 30px;
}
.servicesStronghold_pic_content{
    /* background-color: aquamarine; */
    width: 100%;
    margin: auto;
    position: relative;
}
.servicesStronghold_pic_content img{
    width: 100%;
}
.servicesStronghold_pic_title{
    position: absolute;
    color: rgba(235, 235, 235, 1);
    font-size: 48px;
    top: 50%;
    left: 45%;
    font-weight: bolder;
    letter-spacing: 3px;
    text-shadow: rgb(40, 40, 40) 5px 5px 5px;
}
.Stronghold_title{
    font-size: 2rem;
    text-align: center;
}
.area_content{
    display: flex;
    margin: 50px 0;
    justify-content: space-evenly;
}
.area_content form{
    padding-right: 20px;
    line-height: 28px;
}
.information_title{
    font-size: 20px;
    font-weight: 600;
}
.informationLine_box{
    background-color: rgba(196, 196, 196, 1);
    width: 100%;
    height: 3px;
    margin: 5px 0;
}
.areaStronghold_content{
    margin: 15px 0;
}
.areaStronghold_txt{
    margin: 10px 0;
    padding: 5px 10px;
    line-height: 23px;
    border-bottom: 1px solid rgba(222, 222, 222, 1);
}
.first{
    border-left: 3px solid rgba(70, 118, 189, 1);
}
.mapTag{
    display: flex;
    margin-top: 3px;
    padding-right: 10px;
    justify-content: right;
}
.tag{
    margin-left: 20px;
}
.txt_title{
    font-size: 18px;
}
/* .underline_box{
    background-color: rgb(70, 118, 189);
    position: relative;
}
.underline{
    background-color: rgb(79, 133, 214);
    width: 100%;
    height: 3px;
    border: 0.5px solid rgb(190, 216, 255);
    border-radius: 10px;
    bottom: 0;
    position: absolute;
    overflow: hidden;
}
@keyframes moving{
    0%{
        left: 1%;
    }
    100%{
        left:100%
    }
}
.underline span{
    width: 20%;
    height: 100%;
    background: rgb(200, 220, 255);
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
} */


