.page_container{
    /* background-color: aquamarine; */
    width: 100%;
    margin: auto;
    padding-top: 1%;
}
.supportServices_container{
    /* background-color: aquamarine; */
    background-image: linear-gradient(to bottom,#dbf1ff 85%,#ffffff );
    width: 100%;
    margin: auto;
   
}
.supportServices_wapper{
    /* background-color: aquamarine; */
    max-width: 1200px;
    margin: auto;
}
.supportServices_pic_content{
    /* background-color: aquamarine; */
    max-width: 100%;
    margin: auto;
    position: relative;
}
.supportServices_pic_content img{
    width: 100%;
}
.supportServices_pic_title{
    position: absolute;
    color: rgba(235, 235, 235, 1);
    font-size: 48px;
    top: 50%;
    left: 45%;
    font-weight: bolder;
    letter-spacing: 3px;
    text-shadow: rgb(40, 40, 40) 5px 5px 5px;
}
.supportServices_title{
    display: flex;
    background-color: rgba(230, 230, 230, 1);
    font-size: 1.25rem;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 10%;
}
.supportServices_title li{
    /* background-color: aqua; */
    padding-top: 2%;
    padding-bottom: 1%;
    
}
.supportServices_title a{
    text-decoration: none;
    color: rgba(49, 49, 49, 1);
}
.repair{
    /* background-color: aqua; */
    position: relative;
}
.underline_box{
    /* background-color: rgb(70, 118, 189); */
    position: relative;
}
.underline{
    background-color: rgb(79, 133, 214);
    width: 100%;
    height: 3px;
    border: 0.5px solid rgb(190, 216, 255);
    border-radius: 10px;
    bottom: 0;
    position: absolute;
    overflow: hidden;
}
@keyframes moving{
    0%{
        left: 1%;
    }
    100%{
        left:100%
    }
}
.underline span{
    width: 20%;
    height: 100%;
    background: rgb(200, 220, 255);
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}


.maintenance_content{
    margin: auto;
    text-align: center;
}
.reserveServices_title{
    padding-top: 8%;
    font-size: 2rem;
}
.reserveServices_tip{
    padding-top: 25px;
    font-size: 1.2rem;
}
.fiveStep{
    /* background-color: aqua; */
    width: 100%;
    display: flex;
    margin-top: 50px;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    z-index: 2;
    
}
.fiveStep li{
    /* background-color: aqua; */
    font-size: 24px;
    text-align: center;
}

.stepNumber{
    background-color:rgba(196, 196, 196, 1);
    border-radius: 50%;
    padding: 10px;
    color: #ffffff;
}
.numberOne{
    background-color:rgba(97, 179, 225, 1);
}
.stepTxt{
    margin-top: 20px;
}
.stepFiveLine_box{
    background-color: rgba(196, 196, 196, 1);
    position: absolute;
    width: 70%;
    
    height: 3px;
    top: 25%;
    z-index: -1;
}
.loginRegister_content{
    background-color: #fff;
    display: flex;
    margin: 5% 0;
    justify-content: space-evenly;
    border-radius: 25px;
    box-shadow: 0 2px 25px 0 #ccc;
}
.login_content{
    /* background-color: #aaa; */
    width: 40%;
    margin: 4%;
    padding-top: 2%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 5%;
}

.register_content{
    background-color: rgba(227, 227, 227, 1);
    width: 40%;
    text-align: center;
    margin: 4%;
    padding-top: 4%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 5%;
}
.register_content p{
    padding-bottom: 10%;
}

.loginRegister_content p{
    font-size: 30px;
}
.loginRegister_content form{
    font-size: 16px;
}
.loginRegister_content a{
    text-decoration: none;
    color: rgba(97, 179, 225, 1);
}
.login_input{
    display: block;
    width: 90%;
    margin: 20px 0px;
}
.login_but{
    background-color: rgba(97, 179, 225, 1);
    border: none;
    color: rgba(248, 248, 248, 1);
    padding: 5px 0;
}
.loginRegister_content input{
    font-size: 20px;
    
}
.button{
    width: 90%;
    font-size: 20px;
    cursor: pointer;
}
.register_account{
    margin-top: 12%;
    padding: 5px 0;
    background-color: rgba(182, 182, 182, 1);
    border: none;
    color: rgba(248, 248, 248, 1);
}
.checkbox_txt{
    line-height: 1.2rem;
}
.login_title{
    padding-top: 12px;
}