.current_page{
    color: rgb(80, 128, 199);
    font-weight: 600;
}
.page_container{
    /* background-color: aquamarine; */
    width: 100%;
    margin: auto;
    padding-top: 1%;
}
.consumptionPlan_container{
    /* background-color: aquamarine; */
    background-image: linear-gradient(to bottom,#dbf1ff 85%,#ffffff );
    width: 100%;
    margin: auto;
}
.consumptionPlan_wapper{
    /* background-color: aquamarine; */
    max-width: 1200px;
    margin: auto;
}
.consumptionPlan_pic_content{
    /* background-color: aquamarine; */
    max-width: 100%;
    margin: auto;
}
.consumptionPlan_title{
    display: flex;
    background-color: rgba(230, 230, 230, 1);
    font-size: 1.25rem;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 10%;
}
.consumptionPlan_title li{
    /* background-color: aqua; */
    padding-top: 2%;
    padding-bottom: 1%;
    
}
.consumptionPlan_title a{
    text-decoration: none;
    color: rgba(49, 49, 49, 1);
}
.rent{
    /* background-color: aqua; */
    position: relative;
}
.underline_box{
    /* background-color: rgb(70, 118, 189); */
    position: relative;
}
.underline{
    background-color: rgb(79, 133, 214);
    width: 100%;
    height: 3px;
    border: 0.5px solid rgb(190, 216, 255);
    border-radius: 10px;
    bottom: 0;
    position: absolute;
    overflow: hidden;
}
@keyframes moving{
    0%{
        left: 1%;
    }
    100%{
        left:100%
    }
}
.underline span{
    width: 20%;
    height: 100%;
    background: rgb(200, 220, 255);
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
.flowChart{
    text-align: center;
}
.flowChart_title{
    font-size: 2rem;
    font-weight: 500;
    padding-top: 50px;
}
.flowChart p{
    line-height: 40px;
}
.flowChart_stepAll{
    /* background-color: aqua; */
    padding: 30px;
}
.step_tag{
    background-color: rgba(235, 243, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 80px;
    border-radius: 90px;
    box-shadow: 0 2px 25px 0 #ccc;
    margin-bottom: 25px;
}
.step_content{
    align-items: center;
    justify-content: center;
    display: inline-block;
}
.step_pic{
    background-color: rgba(217, 217, 217, 1);
    padding: 5px;
    border-radius: 50%;
}
.step_pic img{
    width: 100%;
}
.step_content ul{
    /* background-color: aqua; */
    padding-left: 40px;
    text-align: left;
}
.stepThree{
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
}
.stepThree_title{
    background-color: rgba(97, 179, 225, 1);
    border-radius: 90px;
    box-shadow: 0 2px 25px 0 #ccc;
    color: rgba(224, 237, 255, 1);
}
.stepThree_onSpot , .stepThree_online{
    background-color: rgba(237, 241, 246, 1);
    border-radius: 25px;
    box-shadow: 0 2px 25px 0 #ccc;
    padding: 40px 30px;
    position: relative;
}
.title_content{
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
}
.step{
    /* background-color: aqua; */
    padding: 30px;
}
.stepThree_content{
    padding-top: 25px;
}
.stepFour li{
    line-height: 20px;
    list-style: decimal;
}
